TRAMPLIN_SECRET_KEY=change_me_for_local_dev
TRAMPLIN_ADMIN_EMAIL=admin@example.com
TRAMPLIN_ADMIN_PASSWORD=change_me_admin_password
TRAMPLIN_ADMIN_NAME=Администратор
YANDEX_GEOCODER_API_KEY=your_yandex_maps_key
