TRAMPLIN_SECRET_KEY=change_me_for_local_dev
YANDEX_GEOCODER_API_KEY=your_yandex_maps_key

# Настройки SMTP для отправки писем
# SMTP сервер почты
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
# Email, с которого будут отправляться письма
SMTP_USER=tramplinproject338@gmail.com
SMTP_PASSWORD=equmyoesgdiixybd
FRONTEND_URL=http://localhost:5173